<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<!-- Nome da Aplicação -->
	<display-name>Clinica</display-name>

	<!-- Pagina Inicial -->
	<welcome-file-list>
		<welcome-file>pages/public/login.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Fase do Projeto -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<!-- Configuração do JSF -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- Configuração do Shiro -->
<!-- 	<listener> -->
<!-- 		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class> -->
<!-- 	</listener> -->

<!-- 	<filter> -->
<!-- 		<filter-name>ShiroFilter</filter-name> -->
<!-- 		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class> -->
<!-- 	</filter> -->

<!-- 	<filter-mapping> -->
<!-- 		<filter-name>ShiroFilter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 		<dispatcher>REQUEST</dispatcher> -->
<!-- 		<dispatcher>FORWARD</dispatcher> -->
<!-- 		<dispatcher>INCLUDE</dispatcher> -->
<!-- 		<dispatcher>ERROR</dispatcher> -->
<!-- 	</filter-mapping> -->

	<!-- Paginas de Erro -->
	<error-page>
		<error-code>401</error-code>
		<location>/pages/public/access.xhtml</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/pages/public/404.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/pages/public/error.xhtml</location>
	</error-page>

	<!-- Configuração do Thema do PimeFaces -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>ultima-#{guestPreferences.theme}</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	<mime-mapping>
		<extension>ttf</extension>
		<mime-type>application/font-sfnt</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>application/font-woff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff2</extension>
		<mime-type>application/font-woff2</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>eot</extension>
		<mime-type>application/vnd.ms-fontobject</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>eot?#iefix</extension>
		<mime-type>application/vnd.ms-fontobject</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg#exosemibold</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg#exobolditalic</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg#exomedium</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg#exoregular</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg#fontawesomeregular</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
</web-app>